<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - account</title>

  {% include "default_imports.html" %}

  <script src="/static/js/account.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a class="active" href="/account">account</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>

    <h1><i>FLAKE</i> Account</h1>

    <table class="center">
      <tr>
        <td>Username</th>
        <td>
          {% if current_user.name == "guest" %}
            <select id="username" onchange="ChangeUsername('{{current_user.email}}', this.value)">
              <option value="{{current_user.name}}">{{current_user.name}}</option>
              {% for (user, used) in availible_usernames %}
                <option 
                  value="{{user}}" 
                  {% if used %}
                    disabled
                    title="User already in use"
                  {% endif %}
                >{{user}}</option>
              {% endfor %}
            </select>
          {% else %}
            {{current_user.name}}
          {% endif %}
        </th>
      </tr>
      <tr>
        <td>E-Mail</th>
        <td>{{current_user.email}}</th>
      </tr>
    </table>

    <br>
    <input 
      type="submit" id="submit" value="Delete Account" 
      onclick="DeleteAccount('{{current_user.email}}', true)"
    >

    <br><br>

    <h4>Current signature</h4>
    {% if has_signature %}
      <div style="text-align: center">
        <img src="signature/{{escaped_user}}", style="width: 20%;">
      </div>
    {% else %}
      <p>no signature</p>
    {% endif %}

      <br><br>


    {% if has_signature %}
      <input 
        type="submit" id="remove" value="remove signature" onclick="DeleteSignature('{{escaped_user}}')"
      >
    {% endif %}
    <input type="file" id="signature" accept="image/png, image/jpeg" /></input>
    <input 
      type="submit" id="submit" value="upload" onclick="UploadSignature('{{escaped_user}}')"
    >
  </div>
</body>

</html>
