<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Definitions</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/definitions.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    {% if category == "" %}
      <a class="active" href="/settings/definitions">Definitions</a>
    {% else %}
      <a href="/settings/definitions">Definitions</a>
      <a class="active" href="/settings/definitions/{{category}}">{{category}}</a>
    {% endif %}
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <h1><i>FLAKE</i> DATABASE</h1>

    <h2>Definitions: <i>{{category}}</i></h2>
    <table class="center"> 
      <tr>
        <th>
          <a 
            href="/settings/definitions/medication"
            {%- if category=="medication" %} class="active" {%- endif -%} 
          >Medication</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/procedures"
            {%- if category=="procedures" %} class="active" {%- endif -%} 
          >Procedures</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/viruses"
            {%- if category=="viruses" %} class="active" {%- endif -%} 
          >Viruses</a>
        </th> 
      </tr>
    </table>

    <br>
    <br>

    {% if category=="" %}
    <p>
      Select one of the categories above, to add, view, edit or edit the
      availible medication, procedures, viruses, ... when adding protocols.
    </P>
    {% elif category=="medication" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Amount</td> 
          <th>Concentration</td> 
          <th>Days after Surgery</td> 
        </tr>
        {% for medication in data %}
           <tr>
             <td name="name">{{medication.name}}</td> 
             <td name="amount">{{medication.amount}}</td> 
             <td name="concentration">{{medication.concentration}}</td> 
             <td name="days_after_surgery">{{medication.days_after_surgery}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td onclick="Del('medication', '{{medication.name}}');">
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>


    {% elif category=="procedures" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days After Start</td> 
          <th>Duration </td> 
          <th>Surgery?</td> 
        </tr>
        {% for procedure in data %}
           <tr>
             <td name="name">{{procedure.name}}</td> 
             <td name="days_after_start">{{procedure.days_after_start}}</td> 
             <td name="duration">{{procedure.duration}}</td> 
             <td name="surgery">{{procedure.surgery}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td onclick="Del('procedures', '{{procedure.name}}');">
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="viruses" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days After Start</td> 
          <th>Amount</td> 
        </tr>
        {% for virus in data %}
           <tr>
             <td name="name">{{virus.name}}</td> 
             <td name="days_after_start">{{virus.days_after_start}}</td> 
             <td name="amount">{{virus.amount}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td onclick="Del('viruses', '{{virus.name}}');">
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>
    {% endif %}
  </div>

  <dialog id="edit_modal" style="height: 250px; width: 80%;" category="">
    <button onclick="CloseModal()" style="float: right;">Close</button>
    <h2>Entry</h2>

    {% if category=="medication" %}
      {% include "definitions_medication_edit.html" %}
    {% elif category=="procedures" %}
      {% include "definitions_procedures_edit.html" %}
    {% elif category=="viruses" %}
      {% include "definitions_viruses_edit.html" %}
    {% endif %}
    <br>
  </dialog>

</body>

</html>
