<form action="procedures" method="POST">
  <table class="center">

    <tr>
      <td><label for="name">Name:</label></td>
      <td><input type="text" name="name" id="name" placeholder="name"></td>
    </tr>

    <tr>
      <td title="Use -1 to insert sacrifice-date once sacrifice date is set."
      ><label for="days_after_start">Days after start:</label></td>
      <td>
        <input 
          type="text" 
          name="days_after_start" 
          id="days_after_start" 
          placeholder="days after start"
        />
      </td>
    </tr>

    <tr>
      <td><label for="duration">Duration in days:</label></td>
      <td><input type="text" name="duration" id="duration" placeholder="duration in days"></td>
    </tr>

    <tr>
      <td><label for="surgery">Surgery?</label></td>
      <td><input type="checkbox" name="surgery" id="surgery"></td>
    </tr>

    <tr>
      <td><label for="requires_medication">Number of required medications:</label></td>
      <td>
        <input 
          type="number" 
          name="requires_medication" 
          id="requires_medication" 
          placeholder="requires_medication in days"
        >
      </td>
    </tr>

    <tr>
      <td><label for="requires_virus">Number of required viruses:</label></td>
      <td><input type="number" name="requires_virus" id="requires_virus" placeholder="requires_virus in days"></td>
    </tr>


  </table>
  <br><br>
  <input type='submit' name='submit'/>
</form>

