<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Definitions</title>

  {% include "default_imports.html" %}

  <script src="/static/js/definitions.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    {% if category == "" %}
      <a class="active" href="/settings/definitions">Definitions</a>
    {% else %}
      <a href="/settings/definitions">Definitions</a>
      <a class="active" href="/settings/definitions/{{category}}">{{category}}</a>
    {% endif %}
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header_settings.html" %}

    <h1><i>FLAKE</i> DATABASE</h1>

    <h2>Definitions: <i>{{category}}</i></h2>
    <table class="center"> 
      <tr>
        <th>
          <a 
            href="/settings/definitions/medication"
            {%- if category=="medication" %} class="active" {%- endif -%} 
          >Medication</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/procedures"
            {%- if category=="procedures" %} class="active" {%- endif -%} 
          >Procedures</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/viruses"
            {%- if category=="viruses" %} class="active" {%- endif -%} 
          >Viruses</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/kinds"
            {%- if category=="kinds" %} class="active" {%- endif -%} 
          >Kinds</a>
        </th> 
        <th>
          <a 
            href="/settings/definitions/lines"
            {%- if category=="lines" %} class="active" {%- endif -%} 
          >Lines</a>
        </th> 
      </tr>

    </table>

    <br>
    <br>

    {% if category=="" %}
      <p>
        Select one of the categories above, to add, view, edit or edit the
        available medication, procedures, viruses, ... when adding protocols.
      </P>

        {% elif category=="medication" %}
        <p>Remember, these are <b>only <i>defaults</i></b>! If you need different
        values (f.e. a hight or lower concentration, or a different sacrifice-type), 
        you can change these values in your protocol.</p>
        <p>For weight-dependant amounts the (default) amount defined here is 
        calculated from a hypothetical weight of 30g. 
        Later the amount will be calculated from the actual weight of the
        animal.</p>
        <table class="center">
          <tr>
            <th>Name</td> 
            <th>Kind</td> 
            <th>Procedure</td> 
            <th>Amount (μl)</td> 
            <th>Concentration (mg/ml)</td> 
            <th>Doses (mg/kg)</td> 
            <th>Weight Independent</td> 
          </tr>
          {% for medication in medications %}
             <tr>
               <td name="name">{{medication.name}}</td> 
               <td name="kind">{{medication.kind}}</td> 
               <td name="procedure">{{medication.procedure}}</td> 
               <td name="amount">{{medication.amount}}</td> 
               <td name="concentration">{{medication.concentration}}</td> 
               <td name="dosis">{{medication.dosis}}</td> 
               <td name="weight_independant">{{medication.weight_independant }}</td> 
               <td 
                  {% if not current_user.admin %}
                    onclick="Restricted();"
                  {% else %}
                    onclick="Del('medication', '{{medication.name}}');"
                  {% endif %}
                >
                 <a class="mod thick" title="Remove entry.">-</a>
               </td>
               <td 
                  {% if not current_user.admin %}
                    onclick="Restricted();"
                  {% else %}
                    onclick="Add(this.parentNode);"
                  {% endif %}
                >
                 <i class="mod u" title="Edit this entry.">edit</i>
               </td>

            </tr>
          {% endfor %}
        </table>

    {% elif category=="procedures" %}
      <p>Remember, these are <b>only <i>defaults</i></b>! If you need different
      values (f.e. a longer duration or different 'days-after-start'), 
      you can change these values in your protocol.</p>
      <p>Also you can use <i>-1</i> to refer to the sacrifice-date of the
      animal (usually applied to sacrifice-procedures).</p>

      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days after start</td> 
          <th>Duration </td> 
          <th>Surgery?</td> 
        </tr>
        {% for procedure in procedures %}
           <tr>
             <td name="name">{{procedure.name}}</td> 
             <td name="days_after_start">{{procedure.days_after_start}}</td> 
             <td name="duration">{{procedure.duration}}</td> 
             <td name="surgery">{{procedure.surgery}}</td> 
             <td 
                {% if not current_user.admin %}
                  onclick="Restricted();"
                {% else %}
                  onclick="Del('procedures', '{{procedure.name}}');">
                {% endif %}
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td 
              {% if not current_user.admin %}
                onclick="Restricted();"
              {% else %}
                onclick="Add(this.parentNode);">
              {% endif %}
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>
          </tr>
        {% endfor %}
      </table>

    {% elif category=="viruses" %}
      <p>Remember, these are <b>only <i>defaults</i></b>! If you need different
      values (f.e. a larger amount or a different procedure), 
      you can change these values in your protocol.</p>

      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Procedure</td> 
          <th>Amount (nl)</td> 
        </tr>
        {% for virus in viruses %}
           <tr>
             <td name="name">{{virus.name}}</td> 
             <td name="procedure">{{virus.procedure}}</td> 
             <td name="amount">{{virus.amount}}</td> 
             <td 
               {% if not current_user.admin %}
                 onclick="Restricted();"
               {% else %}
                 onclick="Del('viruses', '{{virus.name}}');">
                {% endif %}
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td 
              {% if not current_user.admin %}
                onclick="Restricted();"
              {% else %}
                onclick="Add(this.parentNode);">
              {% endif %}
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>
          </tr>
        {% endfor %}
      </table>

    {% elif category=="kinds" %}
      <table class="center">
        <tr>
          <th>Name</td> 
        </tr>
        {% for kind in kinds %}
          <tr>
            <td name="name">{{kind.name}}</td> 
            <td 
              {% if not current_user.admin %}
                onclick="Restricted();"
              {% else %}
                onclick="Del('kinds', '{{kind.name}}');">
              {% endif %}
              <a class="mod thick" title="Remove entry.">-</a>
            </td>
          </tr>
        {% endfor %}
      </table>

    {% elif category=="lines" %}
      <table class="center">
        <tr>
          <th>Name</td> 
        </tr>
        {% for line in lines %}
          <tr>
            <td name="name">{{line.name}}</td> 
            <td 
              {% if not current_user.admin %}
                onclick="Restricted();"
              {% else %}
                onclick="Del('lines', '{{line.name}}');">
              {% endif %}
              <a class="mod thick" title="Remove entry.">-</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

    {% if category != "" %}
        <br>
        <br>
        <a 
          class="mod thick" 
          title="Add new entry." 
          {% if not current_user.admin %}
            onclick="Restricted();"
          {% else %}
            onclick="Add();"
          {% endif %}
        >+</a>
    {% endif %}
  </div>

  <dialog id="edit_modal" style="height: 350px; width: 80%;" category="">
    <button onclick="CloseModal('edit_modal')" style="float: right;">Close</button>
    <h2>Entry</h2>

    {% if category=="medication" %}
      {% include "definitions_medication_edit.html" %}
    {% elif category=="procedures" %}
      {% include "definitions_procedures_edit.html" %}
    {% elif category=="viruses" %}
      {% include "definitions_viruses_edit.html" %}
    {% elif category=="kinds" %}
      {% include "definitions_kinds_edit.html" %}
    {% elif category=="lines" %}
      {% include "definitions_lines_edit.html" %}

    {% endif %}
    <br>
  </dialog>

</body>

</html>
