<form action="viruses" method="POST">
  <table class="center"> 
    <tr>
      <td><label for="name">Name:</label></td>
      <td><input type="text" name="name" id="name" placeholder="name"></td>
    </tr>
    <tr>
      <td><label for="days_after_start">Days after start:</label></td>
      <td>
        <input 
          type="text" 
          name="days_after_start" 
          id="days_after_start" 
          placeholder="days after start"
        />
      </td>
    </tr>
    <tr>
      <td><label for="amount">Amount:</label></td>
      <td><input type="text" name="amount" id="amount" placeholder="amount"></td>
    </tr>
  </table>
  <br><br>
  <input type='submit' name='submit'/>
</form>
