{% if not animal_id %}
  <i 
    id="filter_toggle"
    class="material-icons mini_icon"
    onclick="ToggleExpandFilter();"
  >expand_less</i>
  <div id="filter">
    <select id="filter_month_what" autocomplete="off" class="month_picker_year">
      <option value=""></option>
      <option {% if args.range == "DOB" %} selected {%endif%}>DOB</option>
      <option {% if not args.range or args.range == "Sacrifice date" %} selected {%endif%}>Sacrifice date</option>
      <option {% if args.range == "start date" %} selected {%endif%}>start date</option>
    </select>
    <label >from: </label>
    {% set from_to_range = "from" %}
    {% set selected_year = args["from"] %}
    {% set curmonth = args["from"][5:] if "from" in args %}
    {% include "month_picker.html" %}
    <label>to: </label>
    {% set from_to_range = "to" %}
    {% set selected_year = args["to"] %}
    {% set curmonth = args["to"][5:] if "to" in args %}
    {% include "month_picker.html" %}
    <label>Animal ID:</label> 
    <input 
      id="filter_animal_id" placeholder="animal id" value="{{args.id}}" oninput="TypeaheadFilter();"
    ></input>

    <i class="mod u" title="Apply filter." onclick="ApplyFilter();">apply filter</i>
    <i class="mod u" title="Apply filter." onclick="RemoveFilter();">remove filter</i>
    <br>
    <br>
  </div>
{% endif %}


