<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <link href="static/css/general.css" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">FLAKE</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <div style="float: right; margin: -30px;"> 
      <a href="/settings">SETTINGS</a> 
      <a href="/account" style="margin: 5px;">
          account<i style="margin-left: 2px;" class="fas fa-user-circle"></i>
      </a> 
    </div>
    <h1><i>FLAKE</i> DATABASE</h1>

    <p style="font-size: 8px">This is a <b>beta-version</b>. If you experience any errors, please file an issue
    at: <a href="https://gin.g-node.org/fux_1789/flexible_parse">fux_1789/flexible_parse</a>.
    If you don't have access to the repository, feel free to write me an 
    <a href="mailto:jan.dick@bdp.org">e-mail</a>.</p>
    <br>

    <h3>Go to overview:</h3>
    <a href="/overview">Overview</a>

    <br>
    <br>

    <h3>Select User:</h3>
    <ul>
    {% for user in users %}
      <li>
        <a href="/users/{{user}}">{{user}}</a>
      </li>
      {% endfor %}
    </ul>

    <br>

    <h3>Select Protocol:</h3>
    <ul>
    {% for name, escaped in protocols.items() %}
      <li>
        <a href="/protocols/{{escaped}}">{{name}}</a>
      </li>
    {% endfor %}
    </ul>
    <br>
    <br>

  </div>
</body>

</html>
