<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Input</title>

  <link href="static/css/general.css" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <h1>LARKUM DATABASE</h1>

    <h3>Go to overview:</h3>
    <a href="/overview">Overview</a>

    <br>
    <br>

    <h3>Select User:</h3>
    <ul>
    {% for user in users %}
      <li>
        <a href="/users/{{user}}">{{user}}</a>
      </li>
      {% endfor %}
    </ul>

    <br>

    <h3>Select Protocol:</h3>
    <ul>
    {% for name, data in protocols.items() %}
      <li>
        <a href="/protocols/{{data.escaped}}">{{name}}</a>
      </li>
    {% endfor %}
    </ul>

  </div>
</body>

</html>
