<form action="{{category}}" method="POST">
  {% if category == "anesthesia" %}
    <select name="name" id="name" autocomplete="off" onchange='Set(this, {{json_anesthetic|safe}})'>
      <option value="---" selected>---</option>
      {% for medication in availible_anesthetic %}
        <option value="{{medication.name}}">{{medication.name}}</option>
      {% endfor %}
    </select>
  {% else %} 
    <select name="name" id="name" autocomplete="off" onchange='Set(this, {{json_analgestic|safe}})'>
      <option value="---" selected>---</option>
      {% for medication in availible_analgesic %}
        <option value="{{medication.name}}">{{medication.name}}</option>
      {% endfor %}
    </select>
  {% endif %}
  <br><br>
  <input 
    type="date" name="date" id="date" placeholder="date"
    {%- if death_date is not none -%} max="{{death_date}}" {%- endif -%}
  />
  <br><br>
  <input type="text" name="amount" id="amount" placeholder="amount">
  <br><br>
  <input type="text" name="concentration" id="concentration" placeholder="concentration">
  <br><br>
  {% if category == "anesthesia" %}
    <input type="checkbox" name="toe_pinch" id="toe_pinch">
    <br><br>
  {% endif %}

  <input type='submit' name='submit'/>
</form>
