<form action="{{category}}" method="POST">
  <table class="center">
    <tr>
      <td><label for="name">Name:</label></td>
      <td>
      <select name="name" id="name" autocomplete="off" onchange='Set(this, {{json_medication|safe}})'>
        <option value="---" selected>---</option>
        {% for medication in availible_medication %}
          <option value="{{medication.name}}">{{medication.name}}</option>
        {% endfor %}
      </select>
      </td>
    </tr>

    <tr>
      <td><label for="kind">Kind:</label></td>
      <td>
        <select type="text" name="kind" id="kind" autocomplete="off">
        {% for kind in availible_kinds %}
          <option value="{{kind.name}}">{{kind.name}}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td><label for="procedure">Procedure:</label></td>
      <td>
        <select type="text" name="procedure" id="procedure" autocomplete="off">
        {% for procedure in procedures %}
          <option value="{{procedure.name}}">{{procedure.name}}</option>
        {% endfor %}
      </td>
    </tr>

    <tr>
      <td><label for="weight_independant">Weight Independant?:</label></td>
      <td><input type="checkbox" name="weight_independant" id="weight_independant"></td>
    </tr>

    <tr>
      <td><label for="amount">Amount [μl]:</label></td>
      <td><input type="text" name="amount" id="amount" placeholder="amount"></td>
    </tr>

    <tr>
      <td><label for="concentration">Concentration [mg/ml (1% = 10mg/ml)]:</label></td>
      <td><input type="text" name="concentration" id="concentration" placeholder="concentration"></td>
    </tr>

    <tr>
      <td><label for="dosis">Dosis [mg/kg]:</label></td>
      <td><input type="text" name="dosis" id="dosis" placeholder="dosis"></td>
    </tr>

    <tr>
      <td><label for="toe_pinch">Toe pinch?</label></td>
      <td><input type="checkbox" name="toe_pinch" id="toe_pinch"></td>
    </tr>
  </table>
  <br><br>

  <input type='submit' name='submit'/>
</form>
