<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Overview</title>

  {% include "default_imports.html" %}
  <script src="/static/js/overview.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a class="active" href="/overview">Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i> DATABASE:</h1>

    {% include "overview_table.html" %}

    <br><br>
    <input type="submit" id="submit" value="Upload pyrat data" onclick="OpenModel('upload_modal')">

  </div>

  <dialog id="confirm_modal" style="height: 150px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change (sub-)protocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

  <dialog id="death_edit_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <p>I understand that I am editing a field that originally comes from pyrat
    and that editing this field manually causes data here (flake) do diverse 
    from pyrat as a data source.<p>
    <form 
      id="death_date_edit_form" action="/update/animal_data/sacrifice_date" method="POST"
    >
      <label for="death_date">Sacrifice Date</label>
      <input type="date" id="death_date" name="death_date" placeholde="sacrifice date">
      <br> <br>
      <input type="submit" value="Yes, manually change sacrifice date."></input>
    </form>
  </dialog>


  <dialog id="upload_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="CloseModal('upload_modal');" style="float: right;">Close</button>
    <br><br>
    <p>Upload a csv-file which you have exported from pyrat. Make sure that the
    following fields are included: 
    <i>ID, Sex, Line / Strain (Name), DOB, Sacrifice date, Responsible, License
      number, and Origin</i> (It is also possible to use the german names).
      You may also include the <i>Comments</i> field. When doing so, we will try to 
      parse the start- and end-date to make it easier for you to import your data.
    </p>
    <br>
    <label>Upload pyrat csv: <label>
    <input type="file" id="pyrat_csv" accept=".csv"></input>
    <a title="Click if parsing comment produces errors.">
      <label>Ignore comment<label>
      <input type="checkbox" id="ignore_comment"></input>
    </a>
    <input type="submit" id="submit" value="upload" onclick="UploadPyratData()">
  </dialog>

  <dialog id="animal_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="animal_modal_text"></p>
    <p id="animal_modal_text_2" style="display: none;">
      Select protocol and subprotocol to directly apply data. If the start- or 
      end-date is already filled, then it was parsed from the pyrat comment. 
      Otherwise you may select the dates now, or later.
    </p>
    <p id="animal_modal_table"></p>
    <p id="animal_modal_text_3"></p>
  </dialog>

  {% include "error_modal.html" %}


</body>

</html>
