  <table class="center">
    <tr>
      {%- if not animal_id -%}<th></th>{%- endif -%}
      <th><a href="{{url}}?sort_by=mla_num&reverse={{reverse}}">ID</a></th>
      <th><a href="{{url}}?sort_by=user&reverse={{reverse}}"</a>Responsible</th>
      <th><a href="{{url}}?sort_by=sex&reverse={{reverse}}"</a>Sex</th>
      <th><a href="{{url}}?sort_by=line&reverse={{reverse}}"</a>Line / Strain (Name)</th>
      <th><a href="{{url}}?sort_by=dob&reverse={{reverse}}"</a>DOB</th>
      <th><a href="{{url}}?sort_by=death_date&reverse={{reverse}}"</a>Sacrifice date</th>
      <th><a href="{{url}}?sort_by=supplier&reverse={{reverse}}"</a>Supplier</th>
      <th><a href="{{url}}?sort_by=protocol_pyrat&reverse={{reverse}}"</a>Protocol (pyrat)</th>
      <th><a href="{{url}}?sort_by=protocol&reverse={{reverse}}"</a>Protocol (flake)</th>
      <th><a href="{{url}}?sort_by=subprotocol&reverse={{reverse}}"</a>Sub Protocol</th>
    </tr>
    {% for entry in animal_data %}
      <tr class="{%- if entry.stored == false -%}not_stored{%- else -%}stored{%- endif -%}">
        {% if not animal_id %}
          <td>
            {% if entry.user == current_user.name or current_user.admin == True %}
              <i 
                class="material-icons mini_icon"
                onclick="DeleteAnimalData('{{entry.mla_num}}');"
                >delete</i>
            {% endif %}
          </td>
        {% endif %}
        <td>{{entry.mla_num}}</td>
        <td>{{entry.user}}</td>
        <td>{{entry.sex}}</td>
        <td>{{entry.line}}</td>
        <td>{{entry.dob}}</td>
        <td>
          {{entry.death_date}} 
          <i 
            style="margin-left: 2px;" 
            class="material-icons mini_icon"
            onclick="OpenEditDeathModel('{{entry.mla_num}}');"
          >mode_edit</i>
        </td>
        <td>{{entry.supplier}}</td>
        <td>{{entry.protocol_pyrat}}</td>
        <td>
          {% if animal_id %}
            {{entry.protocol}}
          {% else %}
            <select 
              id="protocol_flake" autocomplete="off" 
              onchange="UpdateProtocol(this.value, this.parentNode.parentNode.children[1].innerHTML, false)"
            >
              <option value="---">---</option>
              {% for protocol in protocols.keys() %}
              <option 
                  value="{{protocol}}" {%- if protocol==entry.protocol -%}selected{%- endif -%}
              >{{protocol}}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        <td>
          {% if animal_id %}
            {{entry.subprotocol}}
          {% else %}
            <select 
              id="subprotocol" autocomplete="off" 
              onchange="UpdateSubprotocol(this.value, this.parentNode.parentNode.children[1].innerHTML, false)"
            >
              <option value="---" selected>---</option>
              {% for sub in protocols[entry.protocol] %}
                <option 
                  value="{{sub}}" {%- if sub == entry.subprotocol -%}selected{%- endif -%}
                >{{sub}}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        {% if not animal_id %}
          {% if entry.subprotocol != "---" and (entry.user == current_user.name or current_user.admin == True) %}
            <td><a href="/animal_data/{{entry.mla_num}}" >edit experiment</a></td>
          {% elif entry.subprotocol != "---" and entry.user != current_user.name %}
            <td>
              <a href="/animal_data/{{entry.mla_num}}" onclick="return NotResponsible();">
                edit experiment
              </a>
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
