{% if not animal_id %}
  <p><i>Showing {{animal_data|length}} animals.</i></p>
{% endif %}

  <table class="center">
    <tr>
      {%- if not animal_id -%}<th>Select All<br><input type="checkbox" onclick="SelectAll(this.checked);"></th>{%- endif -%}
      {% if not animal_id %}
        <th title="Delete All Selected Animals.">
          Delete All
          <i 
            class="material-icons mini_icon"
            onclick="OpenDeleteAllAnimalsModal();"
          >delete</i>
        </th>
      {%- endif -%}
      {% if not animal_id %}
        <th title="Reset To/ Apply Comment to all Selected Animals.">
          <i 
            class="material-icons mini_icon"
            onclick="ApplyAllSelectedComments();"
          >ac_unit</i>
        </th>
      {%- endif -%}
      <th><i class="mod u" onclick="ApplySorting('mla_num', '{{reverse}}');">ID</i></th>
      <th><i class="mod u" onclick="ApplySorting('user', '{{reverse}}');">Responsible</i></th>
      <th><i class="mod u" onclick="ApplySorting('sex', '{{reverse}}');">Sex</i></th>
      <th>
        <i class="mod u" onclick="ApplySorting('line', '{{reverse}}');">
          Line / Strain (Name)
        </i>
      </th>
      <th><i class="mod u" onclick="ApplySorting('dob', '{{reverse}}');">DOB</i></th>
      <th><i>Start Date</i></th>
      <th>
        <i class="mod u" onclick="ApplySorting('death_date', '{{reverse}}');">Sacrifice date</i>
      </th>
      <th><i class="mod u" onclick="ApplySorting('supplier', '{{reverse}}');">Supplier</i></th>
      <th>
        <i class="mod u" onclick="ApplySorting('protocol_pyrat', '{{reverse}}');">
          Protocol (pyrat)
        </i>
      </th>
      <th>
        <i class="mod u" onclick="ApplySorting('protocol', '{{reverse}}');">
          Protocol (flake)
        </i>
      </th>
      <th>
        <i class="mod u" onclick="ApplySorting('subprotocol', '{{reverse}}');">
          Sub Protocol
        </i>
      </th>
    </tr>
    {% for entry in animal_data %}
      <tr 
        {% if entry.stored == false %}
          class="not_stored"
          title="Animal not yet fully stored (not all dates are filled)."
        {% elif entry.procedures_after_death > 0 or entry.missing_sacrifice == true %}
          class="error_in_stored"
          title="Animal data contains errors: 
            {% if entry.procedures_after_death > 0 %}
              - {{entry.procedures_after_death}} procedures after animals death. 
            {% endif %} 
            {% if entry.missing_sacrifice == true %}
              - Sacrifice procedure is missing.
            {% endif %} 
            "
        {% else %} 
          class="stored"
        {% endif %} 
      >
        {% if not animal_id %}
          <td>
            {% if entry.user == current_user.name or current_user.admin == True %}
            <input type="checkbox" name="mark_animal" animal_id="{{entry.mla_num}}">
            {% endif %}
          </td>
        {% endif %}

        {% if not animal_id %}
          <td>
            {% if entry.user == current_user.name or current_user.admin == True %}
              <i 
                class="material-icons mini_icon"
                onclick="OpenDeleteAnimalModal('{{entry.mla_num}}');"
              >delete</i>
            {% endif %}
          </td>
        {% endif %}
        {% if not animal_id %}
          <td>
            {% if entry.user == current_user.name or current_user.admin == True %}
              <i 
                class="material-icons mini_icon"
                {% if not comments or entry.mla_num not in comments or not comments[entry.mla_num] %}
                  style="color: grey;"
                {% else %}
                  onclick="ApplyComments(['{{entry.mla_num}}']);"
                {%- endif -%}
              >ac_unit</i>
            {% endif %}
          </td>
        {% endif %}
        <td>{{entry.mla_num}}</td>
        <td><a href="/users/{{entry.user}}">{{entry.user}}</a></td>
        <td>{{entry.sex}}</td>
        <td>{{entry.line}}</td>
        <td>{{entry.dob}}</td>
        <td>
          {%- if start_dates -%}{{start_dates[entry.mla_num]}}{%- else -%}---{%- endif -%}
        </td>
        <td>
          {{entry.death_date}} 
          <i 
            style="margin-left: 2px;" 
            class="material-icons mini_icon"
            onclick="OpenEditDeathModel('{{entry.mla_num}}');"
          >mode_edit</i>
        </td>
        <td>{{entry.supplier}}</td>
        <td>{{entry.protocol_pyrat}}</td>
        <td>
          {% if animal_id %}
            {{entry.protocol}}
          {% else %}
            <select 
              id="protocol_flake" autocomplete="off" 
              onchange="UpdateProtocol(this.value, '{{entry.mla_num}}' , false)"
            >
              <option value="---">---</option>
              {% for protocol in protocols.keys() %}
              <option 
                  value="{{protocol}}" {%- if protocol==entry.protocol -%}selected{%- endif -%}
              >{{protocol}}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        <td>
          {% if animal_id %}
            {{entry.subprotocol}}
          {% else %}
            <select 
              id="subprotocol" 
              autocomplete="off" 
              onchange="UpdateSubprotocol(this.value, '{{entry.mla_num}}', false)"
            >
              <option value="---" selected>---</option>
              {% for sub in protocols[entry.protocol] %}
                <option 
                  value="{{sub}}" {%- if sub == entry.subprotocol -%}selected{%- endif -%}
                >{{sub}}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        {% if not animal_id %}
          {% if entry.subprotocol != "---" and (entry.user == current_user.name or current_user.admin == True) %}
            <td class="no_error"><a href="/animal_data/{{entry.mla_num}}" >edit experiment</a></td>
          {% elif entry.subprotocol != "---" and entry.user != current_user.name %}
            <td class="no_error">
              <a href="/animal_data/{{entry.mla_num}}" onclick="return NotResponsible();">
                edit experiment
              </a>
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
