<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Overview</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/general.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a class="active" href="/overview">Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <h1><i>FLAKE</i> DATABASE:</h1>

    {% include "overview_table.html" %}

    <br><br>

    <label>Upload pyrat csv: <label>
    <input type="file" id="pyrat_csv" accept=".csv" /></input>
    <input type="submit" id="submit" value="upload" onclick="UploadPyratData()">

  </div>

  <dialog id="confirm_modal" style="height: 100px; width: 50%;" category="">
    <button onclick="CloseModal();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change subprotocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

</body>

</html>
