<table class="center">
    <tr>
      <th>ID</th>
      <th>Line/ Strain (Name)</th>
      <th>DOB</th>
      <th>Start</th>
      <th>End</th>
      <th>Start Weight</th>
      <th>Protocol (pyrat)</th>
      <th>Protocol (flake)</th>
      <th>Sub Protocol</th>
    </tr>
    {% for entry in animal_data %}
      <tr class="{%- if entry.stored == false -%}not_stored{%- else -%}stored{%- endif -%}">
        <td>{{entry.mla_num}}</td>
        <td>{{entry.line}}</td>
        <td>{{entry.dob}}</td>
        <td>
          <input 
            type="date" min="{{entry.dob}}" value="{{comment_data[entry.mla_num].start_date}}"
          ></input>
        </td>
        <td>
          <input 
            type="date" min="{{entry.dob}}" 
            {% if comment_data[entry.mla_num].end_date|length > 0 %}
              value="{{comment_data[entry.mla_num].end_date}}"
            {% elif entry.death_date|length > 0 %}
              value="{{entry.death_date}}"
            {% endif %}
          ></input>
        </td>
        <td>
          <input 
            type="number" min=0 max=100 step=0.1 
            style="width: 5em; margin-right: 0.5em;"
            value="{{comment_data[entry.mla_num].start_weight}}"
          >g
        </td>
        <td>{{entry.protocol_pyrat}}</td>
        <td>
          <select 
            id="protocol_flake" autocomplete="off" 
            onchange="UpdateProtocolLive(this.parentNode.parentNode.children, this.value);"
          >
            <option value="---">---</option>
            {% for protocol in protocols.keys() %}
            <option 
                value="{{protocol}}" {%- if protocol==entry.protocol -%}selected{%- endif -%}
            >{{protocol}}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          {% if animal_id %}
            {{entry.subprotocol}}
          {% else %}
            <select id="subprotocol" autocomplete="off" >
              <option value="---" selected>---</option>
              {% for sub in protocols[entry.protocol] %}
                <option 
                  value="{{sub}}" {%- if sub == entry.subprotocol -%}selected{%- endif -%}
                >{{sub}}</option>
              {% endfor %}
            </select>
          {% endif %}
        </td>
        <td> 
          <i 
            class="material-icons mini_icon"
            onclick="UpdateAll(this.parentNode.parentNode, false);"
            title="Click to update experiment-data"
            >ac_unit</i>
        </td>
      </tr>
    {% endfor %}
  </table>
