<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{protocol.name}}</title>

  {% include "default_imports.html" %}

  <script src="/static/js/protocols.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    <a href="/settings/protocols">Protocols</a>
    <a class="active" href="/settings/protocols/{{protocol.escaped}}">{{protocol.name}}</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header_settings.html" %}

    <h1><i>FLAKE</i> DATABASE</h1>

    <h2>{{protocol.name}}</h2>
    <p class="err">{{msg}}</p>
    <table class="center"> 
      <tr>
        <th>Name</th> 
      </tr>
      {% for subprotocol in subprotocols %}
        <tr> 
          {% set full_protocol = protocol.escaped + "/" + subprotocol %}
          <td>
            <a
              {% if not is_setup(full_protocol) %}
                class="err"
              {% endif %}
              href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/general">
                {{protocol.name}} {{subprotocol}}
            </a>
          </td>
           <td onclick="DeleteSubprotocol('{{protocol.escaped}}', '{{subprotocol}}');">
             <a class="mod thick" title="Remove entry.">-</a>
           </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <a class="mod thick" title="Add new protocol." onclick="AddProtocol();">+</a>

  <dialog id="add_protocol_modal" style="height: 150px; width: 60%;" category="">
    <button onclick="Close('add_protocol_modal')" style="float: right;">Close</button>
    <h2>Add Subprotocol</h2>
    <p>User <i>no subprotocol</i> if there are no subprotocols.</p>
    <form action="{{protocol.escaped}}/add_protocol" method="POST">
      <input type="text" name="name" id="name" placeholder="f.e. 'A', 'B', ...">
      <br><br>
      <input type='submit' name='submit'/>
    </form>
    <br>
  </dialog>

  <dialog id="confirm_modal" style="height: 150px; width: 50%;" category="">
    <button onclick="Close('confirm_modal');" style="float: right;">Close</button>
    <br><br>
    <p>Are you sure you want to delete this protocol?</p>
    <br>
    <input type="submit" id="delete_protocol_btn" value="Yes" />
  </dialog>


</body>

</html>
