<form action="viruses" method="POST">
  <input type="text" style="display: none" name="uuid" id="uuid" style="display:none" value=""/>
  <table class="center">
    <tr>
      <td><label for="name">Name:</label></td>
      <td>
        <select 
          type="text" name="name" id="name" autocomplete="off"
          onchange='Set(this, {{json_definitions|safe}})'
        >
          <option value="---" selected>---</option>
          {% for definition in definitions %}
            <option value="{{definition.name}}">{{definition.name}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>      
      <td><label for="procedure">Procedure:</label></td>
      <td>
        <select type="text" name="procedure" id="procedure" autocomplete="off">
        {% for procedure in procedures %}
          <option value="{{procedure.name}}">{{procedure.name}}</option>
        {% endfor %}
      </td>
    </tr>

    <tr>
      <td><label for="amount">Amount:</label></td>
      <td><input type="text" name="amount" id="amount" placeholder="amount" required></td>
    </tr>
  </table>
  <br><br>
  <input type='submit' name='submit'/>
</form>
