<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{protocol}}</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/static/js/general.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a href="/overview">Overview</a>
    <a class="active" href="/protocols/{{protocol}}">Protocol-Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i> DATABASE: <i>{{protocol}}</i></h1>

    {% include "overview_table.html" %}

    <br>
    <br>
    <br>
    <br>

    <label>Generate Paragraph 9 Document: <label>
    <input type="submit" id="submit" value="generate" onclick="GenerateP9('{{protocol}}')">

  </div>

  <dialog id="confirm_modal" style="height: 150px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change subprotocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

</body>

</html>
