<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{protocol.name}}</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/protocols.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    <a href="/settings/protocols">Protocols</a>
    <a class="active" href="/settings/protocols/{{protocol.escaped}}">{{protocol.name}}</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <h1><i>FLAKE</i> DATABASE</h1>

    <h2>{{protocol.name}}</h2>
    <p class="err">{{msg}}</p>
    <table class="center"> 
      <tr>
        <th>Name</th> 
      </tr>
      {% for subprotocol in subprotocols %}
        <tr> 
          <td>
            <a
              href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/general">
                {{protocol.name}} {{subprotocol}}
            </a>
          </td>
           <td onclick="DelSub('{{protocol.escaped}}', '{{subprotocol}}');">
             <a class="mod" title="Remove entry.">-</a>
           </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <a class="mod" title="Add new protocol." onclick="AddProtocol();">+</a>

  <dialog id="add_protocol_modal" style="height: 100px; width: 60%;" category="">
    <button onclick="Close('add_protocol_modal')" style="float: right;">Close</button>
    <h2>Add Protocol</h2>
    <form action="{{protocol.escaped}}/add_protocol" method="POST">
      <input type="text" name="name" id="name" placeholder="f.e. 'A', 'B', ...">
      <br><br>
      <input type='submit' name='submit'/>
    </form>
    <br>
  </dialog>

</body>

</html>
