<form action="procedure" method="POST">
  <select 
    type="text" name="name" id="name" placeholder="name" onchange="Set(this)"
  >
    {% for definition in definitions %}
      <option value="{{definition.name}}">{{definition.name}}</option>
    {% endfor %}
  </select>
  <br><br>
  <input type="text" name="days_after_start" id="days_after_start" placeholder="days after start">
  <br><br>
  <input type="text" name="duration" id="duration" placeholder="duration in days">
  <br><br>
  <label for="surgery">Surgery?</label>
  <input 
    type="checkbox" name="surgery" id="surgery" 
  >
  <br><br>
  <input type='submit' name='submit'/>
</form>
