<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Protocols</title>

  {% include "default_imports.html" %}

  <script src="/static/js/protocols.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    <a class="active" href="/settings/protocols">Protocols</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header_settings.html" %}

    <h1><i>FLAKE</i> LARKUM DATABASE</h1>

    <h2>Protocols</h2>
    <p class="err">{{msg}}</p>
    <table class="center"> 
      <tr>
        <th>Name</th> 
      </tr>
      {% for protocol in protocols %}
        <tr> 
          <td>
            <a href="/settings/protocols/{{protocol.escaped}}">{{protocol.name}}</a>
          </td>
           <td onclick="DelSub('{{protocol.escaped}}', '');">
             <a class="mod thick" title="Remove entry.">-</a>
           </td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <a class="mod thick" title="Add new protocol." onclick="AddProtocol();">+</a>

  <dialog id="add_protocol_modal" style="height: 150px; width: 60%;" category="">
    <button onclick="Close('add_protocol_modal')" style="float: right;">Close</button>
    <h2>Add Protocol</h2>
    <form action="add_protocol" method="POST">
      <input type="text" name="name" id="name" placeholder="f.e. 'G 0241/19'">
      <br><br>
      <input type='submit' name='submit'/>
    </form>
    <br>
  </dialog>

</body>

</html>
