<form action="viruses" method="POST">
  <select name="name" id="name" onchange='Set(this, {{json_definitions|safe}})'>
    {% for definition in definitions %}
      <option value="{{definition.name}}">{{definition.name}}</option>
    {% endfor %}
  </select>
  <br><br>
  <input type="text" name="days_after_start" id="days_after_start" placeholder="days after start">
  <br><br>
  <input type="text" name="amount" id="amount" placeholder="amount">
  <br><br>
  <input type='submit' name='submit'/>
</form>
