<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{protocol}}</title>

  {% include "default_imports.html" %}
  <script src="/static/js/overview.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a href="/overview">Overview</a>
    <a class="active" href="/protocols/{{protocol}}">Protocol-Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i> DATABASE: <i>{{protocol}}</i></h1>

    {% include "filter.html" %}
    <div id="overview_table">
      {% include "overview_table.html" %}
    </div>

    <br>
    <br>
    <br>
    <br>

    <label>Generate Paragraph 9 Document: <label>
    <input type="submit" id="submit" value="generate" onclick="GenerateP9('{{protocol}}')">
    <select id="inp_use_year" autocomplete="off">
      {% for x in range(10) %}
        {% set year = 2026 - x %}
        <option {{ "selected" if year|string == "2026" }}>{{year}}</option>
      {% endfor %}
    </select>

  </div>

  <dialog id="confirm_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change subprotocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

  {% include "death_date_modal.html" %}

  {% include "error_modal.html" %}

  {% include "select_expand_dialog.html" %}

  {% include "confirm_delete_animal_dialog.html" %}

  <dialog id="animal_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="animal_modal_text"></p>
    <p id="animal_modal_text_2" style="display: none;">
      Select protocol and subprotocol to directly apply data. If the start- or 
      end-date is already filled, then it was parsed from the pyrat comment. 
      Otherwise you may select the dates now, or later.
    </p>
    <p id="animal_modal_table"></p>
    <p id="animal_modal_text_3"></p>
  </dialog>

  <dialog id="p9_error_modal" style="height: 300px; width: 60%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <h3>Missing Animal Data</h3>
    <p class="err">P9 documents can only be created when <i>all</i> animal-data for this
    protocol is complete! All animal-data marked red is considered incomplete.</p> 
    <p>This decision was made to encourage everyone to do their paperwork and to
    understand this as a task the whole LAB is invoked with.</p>
    <p>To avoid incomplete data being deleted in order to generate the P9
    document, admins can force-create the document bypassing
    completeness-check. If you are not an admin, talk to one of the labs
    admins.<p>
    <br>
    {% if current_user.admin %} 
      <label>Force Generating P9 Document: <label>
      <input type="submit" id="submit" value="generate" onclick="GenerateP9('{{protocol}}', true)">
    {% endif %}
  </dialog>
</body>

</html>
