<form action="procedures" method="POST">
  <input type="text" style="display: none" name="uuid" id="uuid" style="display:none" value=""/>
  <table class="center">
    <tr>
      <td><label for="name">Name:</label></td>
      <td><select 
        type="text" name="name" id="name" placeholder="name" autocomplete="off"
        onchange='Set(this, {{json_definitions|safe}});'
      >
        <option value="---" selected>---</option>
        {% for definition in definitions %}
          <option value="{{definition.name}}">{{definition.name}}</option>
        {% endfor %}
        </select></td>
    </tr>
    <tr>
      <td><label for="days_after_start">Days after start:</label></td>
      <td>
        <input 
          type="text" 
          name="days_after_start" 
          id="days_after_start" 
          placeholder="days after start"
          required
        />
      </td>
    </tr>
    <tr>
      <td><label for="duration">Duration:</label></td>
      <td>
        <input 
          type="text" 
          name="duration" 
          id="duration" 
          placeholder="duration in days"
          required
        />
      </td>
    </tr>
    <tr>
      <td title="Property must be set in definitions.">
        <label for="surgery" >Surgery?</label>
      </td>
      <td title="Property must be set in definitions.">
        <input type="checkbox" name="surgery" id="surgery" disabled>
      </td>
    </tr>
  </table>
  <br><br>
  <input type='submit' name='submit'/>
</form>
