<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>

  <link href="static/css/general.css" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a class="active" href="/reset-pw">Reset Password</a>
  </div>

  <div class="center_in_box">
    <h1>LARKUM DATABASE</h1>

    <h3>Login</h3>
      <form action='reset_pw' method='POST'>
        <input type='text' name='priv' id='priv' placeholder='private key'/><br><br>
        <input type='text' name='pub' id='pub' placeholder='admin key'/><br><br>
        <input type='password' name='password' id='password' placeholder='New password'/><br><br>
        <input type='password' name='password2' id='password2' placeholder='Retype password'/><br><br>
        <label id="msg" class="err">{{msg}}</label><br>
        <input type='submit' name='reset-passw0rd' value="reset-password"/>
      </form>
  </div>
</body>

</html>
