
<dialog id="select_expand_dialog" style="height: 350px; width: 30%;" category="">
	<button onclick="CloseModal('select_expand_dialog');" style="float: right;">Close</button>
  <span>Select table fields to expand/reduce</span>
  <br><br>
  <table class="center">
    <tr>
      <td><input id="reduce_3" type="checkbox" checked onclick="ExDispand(this, 3);"/></td>
      <td>ID</td>
    </tr>
    <tr>
      <td><input id="reduce_4" type="checkbox" checked onclick="ExDispand(this, 4);"/></td>
      <td>Responsible</td>
    </tr>
    <tr>
      <td><input id="reduce_5" type="checkbox" checked onclick="ExDispand(this, 5);"/></td>
      <td>Sex</td>
    </tr>
    <tr>
      <td><input id="reduce_6" type="checkbox" checked onclick="ExDispand(this, 6);"/></td>
      <td>Line / Strain (Name)</td>
    </tr>
    <tr>
      <td><input id="reduce_7" type="checkbox" checked onclick="ExDispand(this, 7);"/></td>
      <td>DOB</td>
    </tr>
    <tr>
      <td><input id="reduce_10" type="checkbox" checked onclick="ExDispand(this, 10);"/></td>
      <td>Supplier</td>
    </tr>
    <tr>
      <td><input id="reduce_11" type="checkbox" checked onclick="ExDispand(this, 11);"/></td>
      <td>Protocol (pyrat)</td>
    </tr>
  </table>
</dialog>

