<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Settings</title>

  <link href="/static/css/general.css" rel="stylesheet">
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a class="active" href="/settings">Settings</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <h1><i>FLAKE</i> DATABASE</h1>

    <table class="center"> 
      <tr>
        <th><a href="/settings/protocols">Protocols</a></td> 
        <th><a href="/settings/definitions">Definitions</a></td> 
      </tr>
    </table>

    <br>
    <br>

    <p>
      Select one of the categories above, to either view or edit protocols or
      availible medication, procedures, viruses, ... for protocols.
    </P>


  </div>
</body>

</html>
