<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Settings</title>
  
  {% include "default_imports.html" %}

</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a class="active" href="/settings">Settings</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header_settings.html" %}

    <h1><i>FLAKE</i> DATABASE</h1>

    <table class="center"> 
      <tr>
        <th><a href="/settings/protocols">Protocols</a></td> 
        <th><a href="/settings/definitions">Definitions</a></td> 
        {% if current_user.admin %} 
          <th><a href="/settings/user-management">User Management</a></td> 
          <th><a href="/settings/backup-management">Backup Management</a></td> 
        {% endif %} 
      </tr>
    </table>

    <br>
    <br>

    <p>
      Select one of the categories above, to either view or edit protocols or
      available medication, procedures, viruses, ... for protocols.
    </P>

    <h4>How this works?</h4> 
    Generally there are three levels on which data can be edited: 
    <ul>
      <li>1. Experiment data</li>
      <li>2. Protocol data</li>
      <li>3. Definitions</li>
    </ul>
    <b>Experiment data</b> is an "instantiation" of the protocol data, meaning: it
    relies on the available medication, viruses and procedures defined for the protocol
    and applies all settings defined in the protocol as a default. (Of
    course everything can be manually edited and changed if necessary. However
    you <i>may not</i> use any medication, viruses or procedures which are not
    defined in the respective protocol.)
    <br>
    <br>

    <b>Protocol data</b> relies on all available medication, viruses and
    procedures defined in the definitions and also uses the defaults entered
    there. The reason for doing so is mainly to avoid typos and a lot of
    typing in general, since multiple protocols will probably use the same
    procedures, medication or viruses. 
    <br>
    <br>

    <b>Definitions</b> define <i>all</i> medication, procedures and viruses that
    can be used in protocols. So the only place to <i>add</i> medication, viruses or
    procedures is in the definitions. 
    <br>
    <br>

    <h4>What do I do if I want to edit animal data?</h4>
    Ask your self the following questions:
    <br>
    1. <i>Does the protocol and sub-protocol for my animal already exist?</i> 
    If yes, select the corresponding sub-protocol on the overview page and start you
    work :)
    <br>
    2. If no, you must add the protocol and/ or sub-protocol first. Here you 
    ask yourself: <i>do all medication, viruses and procedures needed for my
    protocol already exist in the definitions section?</i> Again: if they do, start
    creating your protocol/ sub-protocol, otherwise <i>first</i> create the
    missing medication, viruses and procedures, <i>then</i> continue with
    creating your protocol.

  </div>
</body>

</html>
