<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{protocol.name}}</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/protocols.js"></script>
  <script type="text/javascript">
    const definitions={{json_definitions|safe}};
  </script>
  <script src="/static/js/definitions.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/settings">Settings</a>
    <a href="/settings/protocols">Protocols</a>
    <a href="/settings/protocols/{{protocol.escaped}}">{{protocol.name}}</a>
    <a class="active"
       href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}">{{subprotocol}}</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <h1>LARKUM DATABASE</h1>

    <h2>Definitions: {{category}}</h2>
    <table class="center"> 
      <tr>
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/general">General</a>
        </th> 
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/anesthesia">Anesthesia</a>
        </th> 
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/analgesia">Analgesia</a>
        </th> 
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/procedures">Procedures</a>
        </th> 
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/viruses">Viruses</a>
        </th> 
        <th>
          <a href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/watercontrol">Watercontrol</a>
        </th> 
      </tr>
    </table>

    <br>
    <br>

    {% if category=="general" %}
    <p>
      Adding general data will be availible soon...
    </P>

    {% elif category=="anesthesia" or category=="analgesia" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Amount</td> 
          <th>Concentration</td> 
          <th>Days after Surgery</td> 
        </tr>
        {% for medication in data %}
           <tr>
             <td name="name">{{medication.name}}</td> 
             <td name="amount">{{medication.amount}}</td> 
             <td name="concentration">{{medication.concentration}}</td> 
             <td name="days_after_surgery">{{medication.days_after_surgery}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td 
               onclick="Del('{{category}}', '{{medication.name}}', '{{protocol.escaped}}/{{subprotocol}}');"
             >
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="procedures" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days After Start</td> 
          <th>Duration </td> 
          <th>Surgery?</td> 
        </tr>
        {% for procedure in data %}
           <tr>
             <td name="name">{{procedure.name}}</td> 
             <td name="days_after_start">{{procedure.days_after_start}}</td> 
             <td name="duration">{{procedure.duration}}</td> 
             <td name="surgery">{{procedure.surgery}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td onclick="Del('procedures', '{{procedure.name}}', '{{protocol.escaped}}/{{subprotocol}}');">
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="viruses" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days After Start</td> 
          <th>Amount</td> 
        </tr>
        {% for virus in data %}
           <tr>
             <td name="name">{{virus.name}}</td> 
             <td name="days_after_start">{{virus.days_after_start}}</td> 
             <td name="amount">{{virus.amount}}</td> 
             <td onclick="Add(this.parentNode);">
               <a class="mod" title="Add new entry below.">edit</a>
             </td>
             <td onclick="Del('viruses', '{{virus.name}}', '{{protocol.escaped}}/{{subprotocol}}');">
               <a class="mod" title="Remove entry.">-</a>
             </td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>
      <a class="mod" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="watercontrol" %}
      <form action="watercontrol" method="POST">
        <label for="allowed">Allowed?</label>
        <input 
          type="checkbox" name="allowed" id="allowed" 
          {% if 'allowed' in data and data['allowed'] == True %} checked {% endif %}
        >
        <br><br>
        <input 
          type="text" name="days_after_start" id="days_after_start" placeholder="days after start"
          value="{{data['days_after_start'] if 'days_after_start' in data}}"
        >
        <br><br>
        <input 
          type="text" name="duration" id="duration" placeholder="duration in days"
          value="{{data['duration'] if 'duration' in data}}"
        >
        <br><br>
        <input type='submit' name='submit'/>
      </form>
    {% endif %}
  </div>


  <dialog id="edit_modal" style="height: 200px; width: 80%;" category="">
    <button onclick="CloseModal()" style="float: right;">Close</button>
    <h2>Entry</h2>

    {% if category=="anesthesia" or category=="analgesia" %}
      {% include "protocol_medication_edit.html" %}
    {% elif category=="procedures" %}
      {% include "protocol_procedures_edit.html" %}
    {% elif category=="viruses" %}
      {% include "protocol_virus_edit.html" %}
    {% endif %}
    <br>
  </dialog>


 </body>

</html>
