<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{protocol.name}} {{subprotocol}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/protocols.js"></script>
  <script src="/static/js/definitions.js"></script>
</head>

<body>
  <div class="topnav">
    <a href="/">FLAKE</a>
    <a href="/settings">Settings</a>
    <a href="/settings/protocols">Protocols</a>
    <a href="/settings/protocols/{{protocol.escaped}}">{{protocol.name}}</a>
    <a class="active"
       href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}">{{subprotocol}}</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header_settings.html" %}

    <h1><i>FLAKE</i> DATABASE</h1>

    <h2>{{protocol.name}} {{subprotocol}}</i></h2>
    <table class="center"> 
      <tr>
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/general"
            {%- if category=="general" %} class="active" {%- endif -%} 
          >General</a>
        </th> 
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/allowed_animals"
            {%- if category=="allowed_animals" %} class="active" {%- endif -%} 
          >Allowed Animals</a>
        </th> 
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/procedures"
            {%- if category=="procedures" %} class="active" {%- endif -%} 
          >Procedures</a>
        </th> 
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/medication"
            {%- if category=="medication" %} class="active" {%- endif -%} 
          >Medication</a>
        </th> 
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/viruses"
            {%- if category=="viruses" %} class="active" {%- endif -%} 
          >Viruses</a>
        </th> 
        <th>
          <a 
            href="/settings/protocols/{{protocol.escaped}}/{{subprotocol}}/watercontrol"
            {%- if category=="watercontrol" %} class="active" {%- endif -%} 
          >Watercontrol</a>
        </th> 
      </tr>
    </table>

    <br>
    <br>

    {% if category=="general" %}
      <form action="general" method="POST">
        <input type="text" name="uuid" id="uuid" style="display:none" value="{{data['uuid']}}"/>
        <table class="center">
          </tr>
          <tr>
            <td><label for="allowed_users">Allowed users:</label></td>
            <td><input 
              type="text" 
              name="allowed_users" 
              id="allowed_users" 
              placeholder="allowed users"
              value="{{data['allowed_users'] if 'allowed_users' in data}}"
            ></td>
          </tr>
          <tr> 
            <td><label for"suffering">Suffering:</label></td>
            <td>
              <select id="suffering" name="suffering" autocomplete="off">
                <option 
                  value="Leicht" {%- if data.suffering == "Leicht" -%}selected{%- endif -%}
                >Leicht</option>
                <option 
                  value="Mittel" {%- if data.suffering == "Mittel" -%}selected{%- endif -%}
                >Mittel</option>
                <option 
                  value="Schwer" {%- if data.suffering == "Schwer" -%}selected{%- endif -%}
                >Schwer</option>
              </select>
            </td>
          </tr>
        </table>
        <br>
        <input type='submit' name='submit'/>
      </form>

    {% elif category=="allowed_animals" %}
      <table class="center">
        <tr>
          <th>Line</td> 
          <th>Number allowed</td> 
        </tr>
        {% for line in data %}
           <tr>
             <td name="uuid" style="display:none">{{line.uuid}}</td> 
             <td name="name">{{line.name}}</td> 
             <td name="num_availible_animals">{{line.num_availible_animals}}</td> 
             <td onclick="DelProtocolEntry('{{category}}', '{{line.uuid}}');">
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td onclick="Add(this.parentNode);">
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod thick" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="medication" %}
      <p>For weight-dependant amounts the (default) amount defined here is 
      calculated from a hypothetical weight of 30g. 
      Later the amount will be calculated from the actual weight of the
      animal.</p>
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Kind</td> 
          <th>Procedure</td> 
          <th>Amount (μl)</td> 
          <th>Concentration (mg/ml)</td> 
          <th>Dosis (mg/kg)</td> 
          <th>Weight Independant</td> 
        </tr>
        {% for medication in data %}
           <tr>
             <td name="uuid" style="display:none">{{medication.uuid}}</td> 
             <td name="name">{{medication.name}}</td> 
             <td name="kind">{{medication.kind}}</td> 
             <td name="procedure">{{medication.procedure}}</td> 
             <td name="amount">{{medication.amount}}</td> 
             <td name="concentration">{{medication.concentration}}</td> 
             <td name="dosis">{{medication.dosis}}</td> 
             <td name="weight_independant">{{medication.weight_independant }}</td> 
             <td onclick="DelProtocolEntry('{{category}}', '{{medication.uuid}}');">
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td onclick="Add(this.parentNode);">
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>
          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod thick" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="procedures" %}
      <p>Every protocol should add a post-operation-medication procedure and a sacrifice
      procedure! If they do not exist yet, please create in the definitions.</p>
      <p>Also you can use <i>-1</i> to refer to the sacrifice-date of the
      animal (usually applied to sacrifice-procedures).</p>

      <br>
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Days After Start</td> 
          <th>Duration </td> 
          <th>Surgery?</td> 
        </tr>
        {% for procedure in data %}
           <tr>
             <td name="uuid" style="display:none">{{procedure.uuid}}</td> 
             <td name="name">{{procedure.name}}</td> 
             <td name="days_after_start">{{procedure.days_after_start}}</td> 
             <td name="duration">{{procedure.duration}}</td> 
             <td name="surgery">{{procedure.surgery}}</td> 
             <td onclick="DelProtocolEntry('procedures', '{{procedure.uuid}}');">
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td onclick="Add(this.parentNode);">
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>

          </tr>
        {% endfor %}
      </table>
      </table>
      <br>
      <br>
      <a class="mod thick" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="viruses" %}
      <table class="center">
        <tr>
          <th>Name</td> 
          <th>Procedure</td> 
          <th>Amount</td> 
        </tr>
        {% for virus in data %}
           <tr>
             <td name="uuid" style="display:none">{{virus.uuid}}</td> 
             <td name="name">{{virus.name}}</td> 
             <td name="procedure">{{virus.procedure}}</td> 
             <td name="amount">{{virus.amount}}</td> 
             <td onclick="DelProtocolEntry('viruses', '{{virus.uuid}}');">
               <a class="mod thick" title="Remove entry.">-</a>
             </td>
             <td onclick="Add(this.parentNode);">
               <i class="mod u" title="Edit this entry.">edit</i>
             </td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>
      <a class="mod thick" title="Add new entry." onclick="Add();">+</a>

    {% elif category=="watercontrol" %}
      <form action="watercontrol" method="POST">
        <input type="text" name="uuid" id="uuid" style="display:none" value="{{data['uuid']}}"/>
        <table class="center">
          <tr>
            <td><label for="allowed">Allowed?</label></td>
            <td><input 
              type="checkbox" name="allowed" id="allowed" 
              {% if 'allowed' in data and data['allowed'] == True %} checked {% endif %}
            ></td>
          </tr>
          <tr>
            <td><label for="days_after_start">Days after start:</label>
            <td><input 
              type="text" name="days_after_start" id="days_after_start" placeholder="days after start"
              value="{{data['days_after_start'] if 'days_after_start' in data}}"
            ></td>
          </tr>
          <tr>
            <td><label for="duration">Duration:</label>
            <td><input 
              type="text" name="duration" id="duration" placeholder="duration in days"
              value="{{data['duration'] if 'duration' in data}}"
            ></td>
          </tr>
          </table>
        <br><br>
        <input type='submit' name='submit'/>
      </form>
    {% endif %}
  </div>


  <dialog id="edit_modal" style="height: 350px; width: 80%;" category="">
    <button onclick="CloseModal()" style="float: right;">Close</button>
    <h2>Entry</h2>
    {% if category=="medication" %}
      {% include "protocol_medication_edit.html" %}
    {% elif category=="procedures" %}
      {% include "protocol_procedures_edit.html" %}
    {% elif category=="viruses" %}
      {% include "protocol_virus_edit.html" %}
    {% elif category=="allowed_animals" %}
      {% include "protocol_allowed_edit.html" %}
    {% endif %}
    <br>
  </dialog>


 </body>

</html>
