<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{user}}</title>

  {% include "default_imports.html" %}

  <script src="/static/js/general.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a href="/overview">Overview</a>
    <a class="active" href="/users/{{user}}">User-Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i>DATABASE: <i>{{user|upper}}</i></h1>

    {% include "overview_table.html" %}

  </div>

  <dialog id="confirm_modal" style="height: 100px; width: 50%;" category="">
    <button onclick="CloseModal();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change subprotocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

  <dialog id="death_edit_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <p>I understand that I am editing a field that originally comes from pyrat
    and that editing this field manually causes data here (flake) do diverse 
    from pyrat as a data source.<p>
    <form 
      id="death_date_edit_form" action="/update/animal_data/sacrifice_date" method="POST"
    >
      <label for="death_date">Sacrifice Date</label>
      <input type="date" id="death_date" name="death_date" placeholde="sacrifice date">
      <br> <br>
      <input type="submit" value="Yes, manually change sacrifice date."></input>
    </form>
  </dialog>

</body>

</html>
