<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{user}}</title>

  {% include "default_imports.html" %}
  <script src="/static/js/overview.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a href="/overview">Overview</a>
    <a class="active" href="/users/{{user}}">User-Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i>DATABASE: <i>{{user|upper}}</i></h1>

    {% include "filter.html" %}
    <div id="overview_table">
      {% include "overview_table.html" %}
    </div>

  </div>

  <dialog id="confirm_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh()" style="float: right;">Close</button>
    <br><br>
    <p id="set_subprotocol_msg"></p>
    <br>
    <input 
       type="submit" 
       id="set_subprotocol_btn"
       value="Yes, change subprotocol and delete experiment data">
       <!-- submit is added by javascript -->
    </input>
  </dialog>

  {% include "death_date_modal.html" %}

  {% include "error_modal.html" %}

  {% include "confirm_delete_animal_dialog.html" %}

  <dialog id="animal_modal" style="height: 200px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <p id="animal_modal_text"></p>
    <p id="animal_modal_text_2" style="display: none;">
      Select protocol and subprotocol to directly apply data. If the start- or 
      end-date is already filled, then it was parsed from the pyrat comment. 
      Otherwise you may select the dates now, or later.
    </p>
    <p id="animal_modal_table"></p>
    <p id="animal_modal_text_3"></p>
  </dialog>


</body>

</html>
