<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - Overview</title>

  {% include "default_imports.html" %}

  <script src="/static/js/general.js"></script>
  <script src="/static/js/account.js"></script>
  <script src="/static/js/snow.js-gh-pages/snow.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a class="active" href="/overview">Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    {% include "in_box_header.html" %}

    <h1><i>FLAKE</i> USER MANAGEMENT:</h1>

    <h2>Users</h2>

    <table class="center">
      <tr>
        <th>E-Mail</th>
        <th>Name</th>
        <th>Admin</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>
          <input 
             type="checkbox" 
             name="surgery" 
             id="surgery" 
             onchange="SetAdmin('{{user.email}}', this.checked);"
             {%- if user.admin -%}checked>{%- endif -%}
        </td>
        <td>
            <i 
              class="material-icons mini_icon"
              title="Delete account of this user!"
              onclick="DeleteAccount('{{user.email}}', false);"
            >delete</i>
        </td>

      </tr>
      {% endfor %}
    </table>

    <br><br>

    <h2>User actions</h2> 

    <select id="old_username">
      {% for (user, _) in availible_usernames %}
        <option value="{{user}}" >{{user}}</option>
      {% endfor %}
    </select>
    <select id="new_username">
      {% for (user, used) in availible_usernames %}
        <option 
          value="{{user}}" 
          {% if used %}
            disabled
            title="Username already in use"
          {% endif %}
        >{{user}}</option>
      {% endfor %}
    </select>
    <button 
      onclick="document.getElementById('old_username_txt').innerHTML = document.getElementById('old_username').value;
      document.getElementById('new_username_txt').innerHTML = document.getElementById('new_username').value;
      OpenModel('update_username');"
    >Update Username</button>

    <br><br>
    <br><br>

    <h2>Verification Codes</h2> 
    <table class="center">
      <tr>
        <th>E-Mail</th>
        <th>Pubkey</th>
      </tr>
      {% for key in keys %}
      <tr>
        <td>{{key.email}}</td>
        <td>{{key.pub}}</td>
        <td>
            <i 
              class="material-icons mini_icon"
              title="Delete verification code of this user!"
              onclick="DeleteVerificationKey('{{key.email}}', false);"
            >delete</i>
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>

  <dialog id="update_username" style="height: 300px; width: 50%;" category="">
    <button onclick="Refresh();" style="float: right;">Close</button>
    <br><br>
    <h4>Update Username</h4> 
    <p>By applying, you change the responsible personen for all animal entries
    from <b><a id="old_username_txt"></a></b> to <b><a
        id="new_username_txt"></a></b>.
    Also, the user's username will be updated to the new username.<br>
    (If the old and new username are identical, it will strip the new username
    of all whitespaces. F.e. 'flake ' would be changed to 'flake')<br>
    This action will potentially result in changing quite a lot of entries. Are
    you sure?</p>
    <p>Consider creating a backup of the data first</p>
    <button onclick="UpdateUsername();">Apply</button>
  </dialog>

  {% include "error_modal.html" %}

</body>

</html>
