<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FLAKE - {{user}}</title>

  <link href="/static/css/general.css" rel="stylesheet">
  <script src="/static/js/general.js"></script>
</head>

<body>
  <div>
    <a href="/">FLAKE</a>
    <a href="/overview">Overview</a>
    <a class="active" href="/users/{{user}}">User-Overview</a>
  </div>
  {% include "userinfos_header.html" %}

  <div class="center_in_box">
    <div style="float: left; margin: -30px;"><i>LARKUM LAB</i></div>
    <h1><i>FLAKE</i>DATABASE: <i>{{user|upper}}</i></h1>

    {% include "overview_table.html" %}

  </div>
</body>

</html>
