<form action="viruses" method="POST">
   <select id="name" name="name" autocomplete="off" onchange='Set(this, {{json_viruses|safe}})'>
    <option value="---" selected>---</option>
    {% for e in availible_viruses %}
      <option value="{{e.name}}">{{e.name}}</option>
    {% endfor %}
  </select>
  <br><br>
  <input 
    type="date" name="date" id="date" placeholder="date"
    {%- if death_date is not none -%} max="{{death_date}}" {%- endif -%}
  >
  <br><br>
  <input type="text" name="amount" id="amount" placeholder="amount">
  <br><br>
  <input type='submit' name='submit'/>
</form>

