/* General css */

body {
    font-family: SFMono-Regular, Menlo, Conolas,"Leberation Mono", "Courier New", monospace;
    font-size: 11px;
    background-color: #f0f0e8;
}

.center_in_box {
    margin: auto;
    margin-top: 8em;
    width: 70%;
    min-width: 45em;
    border: 3px solid black;
    padding: 70px;
    text-align: center;
    background-color: rgba(163, 180, 196, 0.5);
    color: #053769;
}

.center_in_box h1 {
  color: #ffffff;
  margin-bottom: 5rem;
}

/* buttons */
.btn {
    padding: 0.4em;
    border: transparent;
    border-radius: 1px;
    font-size: 11px;
}

.btn:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn:active {
  background-color: green;
}

/* tables */ 
th, td {
  padding: 11px;
  padding: text-align;
  border-bottom: 1px solid #ddd;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type:none; 
  padding-inline-start: 0px;
}

li {
  margin-bottom: 0.5rem;
}
