/* General css */

body {
  font-family: Optima;
  font-size: 12px;
  background-color: #f0f0e8;
}

input {
  font-size: 10px;
}
button {
  font-size: 10px;
}
select{
  font-size: 10px;
}

a {
  color: #053769;
}

/* tables */ 
th, td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style-type:none; 
  padding-inline-start: 0px;
}
li {
  margin-bottom: 0.5rem;
}

.pure_btn {
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.short {
  width: 40px;
}

.center_in_box {
  margin: auto;
  margin-top: 5em;
  width: 80%;
  min-width: 45em;
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  background-color: rgba(163, 180, 196, 0.5);
  color: #053769;
}
.center_in_box h1 {
  color: #ffffff;
  margin-bottom: 3rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* topnav */ 
.active {
  background-color: rgba(163, 180, 196, 0.5);
}


/* animal-data table */
.err {
  color: #992e32;
}

.not_stored {
  background-color: #992e32;
}

.mod {
  padding: 0.5rem;
}
.thick {
  font-size: 16px;
  font-weight: bold;
}
.small {
  font-size: 10px;
  padding: 0.3rem;
}

.u {
  text-decoration-line: underline;
}

.mod:hover {
  cursor: pointer;
}

/* input */ 
.date_suggest {
  color: #b5b5b5;
}

/* graph */ 
.graph {
  margin-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #b5b5b5;
}

/* modal */
dialog {
  height: 300px;
  width: 80%;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  background-color: #f0f0e8;
  color: #053769;
}

.notes_txt {
  margin-bottom: 10px;
}
